<ion-header>
  <ion-toolbar>
    <ion-title><b>Events</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <ion-item href="https://www.spit.ac.in/category/events/">AICTE-ATAL Sponsored Faculty Development Program organized by MCA Department and Electronics Engineering Department.</ion-item>

  <ion-label>

  </ion-label>
  <br>

  <ion-item href="https://www.spit.ac.in/category/events/">AICTE ATAL sponsored one week FDP on Design Thinking theme Practical Perspective on Decision Making Education</ion-item>
  <br>
  <ion-item href="https://www.spit.ac.in/category/events/">Two weeks online credit course on Research and Publication Ethics for Ph.D. Students</ion-item>
  <br>
  <ion-item>
    <ion-label href="https://www.spit.ac.in/category/events/">Counseling webinar for prospective<P></P> students on Placements</ion-label>
  </ion-item>
</ion-content>
